*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.container{
    height: 100%;
    position: relative;
}
.pallete-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.pallete{
    height: 100%;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 2.2vw;
}


#success-msg {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: rgb(180, 243, 180); 
    color: rgb(5, 112, 32); 
    text-align: center; 
    border-radius: 10px; 
    border: 1px solid rgb(5, 112, 32);
    padding: 0.2rem;
    height: 4rem;
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
    padding: 1rem;
    font-size: 1.8rem;
  }
  
  #success-msg.show {
    visibility: visible; 
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

.icons{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
}

.pallete-icons{
    z-index: 2;
}


    

.pallete-icons{
    font-size: 2rem;
    margin: 1rem;
}
.pallete-icons:hover{
    cursor: pointer;
}

.hidden{
    visibility: hidden;
}

.add{
    position: absolute;
    top: 50vh;
    background-color: white;
    color: rgb(94, 92, 92);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 3rem;
    transform: translateX(-50%);
    
}
.add:hover{
    cursor: pointer;
}
div.left{
    width: 30%;
    height: 100%;
}

div.right{
    width: 30%;
    height: 100%;
}
